boto3
botocore
docutils
jmespath
python-dateutil
PyYAML
s3transfer
six
urllib3
certifi
chardet
idna
jsonpickle
python-digitalocean
requests
inputimeout
progressbar2
sshconf
ntplib
pyVmomi ; sys_platform!="linux"
PyCryptodome ; sys_platform!="linux"
linode-api4