boto3
botocore
docutils==0.16
jmespath==0.10.0
python-dateutil==2.8.1
PyYAML==5.3.1
s3transfer
six
urllib3==1.26.5
certifi==2020.6.20
chardet==3.0.4
idna==2.10
jsonpickle==1.4.1
python-digitalocean==1.15.0
requests==2.25.1
inputimeout==1.0.4
progressbar2==3.53.1
sshconf==0.2.2
ntplib
pyVmomi==7.0.2
PyCryptodome==3.10.1; sys_platform!="linux"