boto3
botocore
docutils==0.16
jmespath==0.10.0
python-dateutil==2.8.1
PyYAML==5.4
s3transfer
six
urllib3==1.25.10
certifi==2020.6.20
chardet==3.0.4
idna==2.10
jsonpickle==1.4.1
python-digitalocean==1.15.0
requests==2.24.0
PyCryptodome==3.9.8
inputimeout==1.0.4
progressbar2==3.53.1
sshconf==0.2.2
